@tailwind base;
@tailwind components;
@tailwind utilities;

.data-rk {
  display: flex !important;
  min-height: 100vh !important;
  justify-content: center !important;
  align-items: center !important;
}
